

#login
      {
     margin-top: 33px;
     width:100%;
      text-align: center;
        padding:1%;
         overflow:hidden; 
      }

      input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
select,
textarea
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-size: 15px;
  height: 30px;
  border: 1px solid black;
}

.button_1
{
  background-color: #e7e7e7;
  letter-spacing: 1px;
  text-align: center;
  color: #555;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  border: 0px;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  display: inline-block;
 }

 .button_1:hover
 {
  background-color:#EEE;
  color: #555;
  border: 0px;
 }
 .button_plus
{
  background-color: #e7e7e7;
  letter-spacing: 1px;
  text-align: center;
  color: #555;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  border: 0px;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  display: inline-block;
 }

 .button_plus:hover
 {
  background-color:#EEE;
  color: #555;
  border: 0px;
 }

.switch
{
  margin: 8px 10px 5px 10px;
 position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {display: none;}

 .checkmark_if
 {
   position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
    border-radius: 50px;
}

.checkmark_if:before 
{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
    border-radius: 50px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkmark_if
{ background-color: #2196F3;}

input:focus + .checkmark_if
{ box-shadow: 0 0 1px #2196F3; }

input:checked + .checkmark_if:before
{
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.input_name
{
width:250px;
}

a
{
  text-decoration: none !important;
}

.error
    {
      color:red;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

table
{
  margin: 0 auto; 
}

.td_small
{
  color:gray;
  font-size: 10px;
  font-style: italic;
}

.td_big
{
  
}

.td_mid
{
  
}

.td_checkbox
{

}

h1
{
  text-align: center;
  font-size: 30px;
}

#eject_ex
{
display: none;
}

.bg-default
{
  background-color: #000;
}

.text-xs-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
    }

.toggle_content
{
  display: none;
}
.toggle_content.edit_ex
{background-color: #fafafa;}

.none
{
  display: none;
}



footer {
  position: initial;
  right: 0;
  bottom: 0;
  left: 0;
margin-top: 100px;
  padding: 1rem;
  color:#efefef;
  background-color: #333;
  text-align: center;
}

.borderless td, .borderless th {
    border: none !important;
}

.red
{
  color:red;
}
#ma
{
margin-left:150px; 
  width: 80%;
text-align: left;}

.cbalink {
 display:none;
}

    *.invalid {background:#FFEDED url(http://cdn1.iconfinder.com/data/icons/ledicons/cross.png) 95% 15px no-repeat;}
    *.valid {background:#F5FFE3 url(http://cdn1.iconfinder.com/data/icons/ledicons/accept.png) 95% 15px no-repeat;}

    .val{
      margin-bottom: 1px;
      padding-bottom: 3px;
      margin-left: 25%;
     width:50%; }

    img
    {
      width: 180px;
      height: 150px;
    }