<footer>
	<div class="table-responsive"> 
		<table class="table borderless">
	<tr>
		<th>Minego</th>
		<th>Kontakt</th>
	</tr>
	<tr>
		<td>U nas kupisz wszystko :)</td>
		<td>email - support@minego.pl</td>
	</tr> 
	<tr>
		<td>© Copyright 2019</td>
		<td>Wszelkie prawa zastrzeżone dla Krystian Łachut</td>
	</tr>
</table>
</div>
</footer>